#about {
    width: 80%;
    margin: 7em auto;
    display: grid;
    grid-template-areas: 
    "imgAbout sub-header1"
    "imgAbout desc";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    column-gap: 20px;
}

#about img {
    grid-area: imgAbout;
    align-self: center;
    justify-self: center;
    aspect-ratio: 9 / 16;
    width: 80%;
    border-radius: 10px;
}

#about .sub-header {
    grid-area: sub-header1;
    text-align: center;
    align-self: center;
    font-size: 400%;
    margin: 20px 0;
    font-family: 'Poppins', sans-serif;
}

#about .description {
    grid-area: desc;   
    /* text-indent: 1em; */
    letter-spacing: 0.2em;
    justify-self: center;
    text-align: left;
    font-size: 100%;
}

@media (max-width: 1024px) {
    #about .sub-header {
        margin: 10px 0;
        font-size: 3em;
    }

    #about img {
        width: 100%;
    }
}

@media (max-width: 768px) {
    #about .sub-header {
        font-size: 2.5em;
    }

    #about img {
        width: 80%;
    }

    #about .description {
        grid-area: desc;   
        text-indent: 1.5em;
        letter-spacing: 0.1em;
    }
}

@media (max-width: 425px) {
    #about {
        grid-template-areas: 
        "sub-header1"
        "desc";
        grid-template-columns: 1fr;
        margin: 3em auto;
    }

    #about .sub-header {
        text-align: center;
    }

    #about img {
        display: none;
    }
}