footer {
    width: 100%;
    text-align: center;
    background: #363062;
}

footer * {
    color: #F5F5F5;
}

footer p {
    font-size: 150%;
    margin: 1em auto;
    padding: 0 0.5em;
    box-sizing: border-box;
}

footer span {
    font-weight: bold;
}

footer i {
    font-size: 1.5em;
    margin: 1em 0.5em;
}

@media (max-width: 425px) {
    footer p {
        font-size: 100%;
    }

    footer i {
        font-size: 1em;
        margin: 1em 1em;
    }
}